{% extends 'base1.html' %}
{% block content %}
{% load static %}
<script src="{% static 'assets1/js/plugins/swiper-bundle.min.js' %}"></script>
<div class="position-relative overflow-hidden">
    <div class="swiper mySwiper mt-4 mb-2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div>
            <div class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0">
              <div class="full-background bg-cover" style="background-image: url('https://img.freepik.com/free-photo/happy-businesswoman-holding-folder_74855-5075.jpg?ga=GA1.1.951302052.1732267217&semt=ais_hybrid')"></div>
              <div class="card-body text-start px-3 py-0 w-100">
                <div class="row mt-12">
                  <div class="col-sm-3 mt-auto">
                    <h4 class="text-white font-weight-bolder no_toc">Aachal Jain</h4>
                    <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">SDE-1</p>
                    <h5 class="text-white font-weight-bolder no_toc">Google</h5>
                  </div>
                  <div class="col-sm-3 ms-auto mt-auto">
                    <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">Front End Dev</p>
                    <a href="https://Akshad.digitalsamba.com/demo-room" target="_blank" class="btn btn-primary mt-3">Connect</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0">
            <div class="full-background bg-cover" style="background-image: url('https://img.freepik.com/free-photo/cheerful-indian-businessman-smiling-closeup-portrait-jobs-career-campaign_53876-129417.jpg?ga=GA1.1.951302052.1732267217&semt=ais_hybrid')"></div>
            <div class="card-body text-start px-3 py-0 w-100">
              <div class="row mt-12">
                <div class="col-sm-3 mt-auto">
                  <h4 class="text-white font-weight-bolder no_toc">Satwik Joshi</h4>
                  <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">SDE-1</p>
                  <h5 class="text-white font-weight-bolder no_toc">Google</h5>
                </div>
                <div class="col-sm-3 ms-auto mt-auto">
                  <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">FullStack</p>
                  <a href="https://Akshad.digitalsamba.com/demo-room" target="_blank" class="btn btn-primary mt-3">Connect</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0">
            <div class="full-background bg-cover" style="background-image: url('https://img.freepik.com/free-photo/portrait-serious-smiling-modern-indian-man-near-office-building_496169-2890.jpg?ga=GA1.1.951302052.1732267217&semt=ais_hybrid')"></div>
            <div class="card-body text-start px-3 py-0 w-100">
              <div class="row mt-12">
                <div class="col-sm-3 mt-auto">
                  <h4 class="text-white font-weight-bolder no_toc">Bhavesh Joshi</h4>
                  <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">SWE-3</p>
                  <h5 class="text-white font-weight-bolder no_toc">Google</h5>
                </div>
                <div class="col-sm-3 ms-auto mt-auto">
                  <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">ReactDev</p>
                  <a href="https://Akshad.digitalsamba.com/demo-room" target="_blank" class="btn btn-primary mt-3">Connect</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0">
            <div class="full-background bg-cover" style="background-image: url('https://img.freepik.com/free-photo/portrait-young-indian-top-manager-t-shirt-tie-crossed-arms-smiling-white-isolated-wall_496169-1513.jpg?ga=GA1.1.951302052.1732267217&semt=ais_hybrid')"></div>
            <div class="card-body text-start px-3 py-0 w-100">
              <div class="row mt-12">
                <div class="col-sm-3 mt-auto">
                  <h4 class="text-white font-weight-bolder no_toc">Tenali Rama</h4>
                  <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">Intern</p>
                  <h5 class="text-white font-weight-bolder no_toc">Ex Google</h5>
                </div>
                <div class="col-sm-3 ms-auto mt-auto">
                  <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">Frontend</p>
                  <a href="https://Akshad.digitalsamba.com/demo-room" target="_blank" class="btn btn-primary mt-3">Connect</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0">
            <div class="full-background bg-cover" style="background-image: url('https://img.freepik.com/free-photo/businessman-black-suit-with-tie-posing_114579-15877.jpg?ga=GA1.1.951302052.1732267217&semt=ais_hybrid')"></div>
            <div class="card-body text-start px-3 py-0 w-100">
              <div class="row mt-12">
                <div class="col-sm-3 mt-auto">
                  <h4 class="text-white font-weight-bolder no_toc">Mustafa Ali</h4>
                  <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">Tech Lead</p>
                  <h5 class="text-white font-weight-bolder no_toc">Google</h5>
                </div>
                <div class="col-sm-3 ms-auto mt-auto">
                  <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">Full Stack</p>
                  <a href="https://Akshad.digitalsamba.com/demo-room" target="_blank" class="btn btn-primary mt-3">Connect</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0">
            <div class="full-background bg-cover" style="background-image: url('https://img.freepik.com/free-photo/indian-business-man-with-crossed-arm-dark-wall_231208-2668.jpg?ga=GA1.1.951302052.1732267217&semt=ais_hybrid')"></div>
            <div class="card-body text-start px-3 py-0 w-100">
              <div class="row mt-12">
                <div class="col-sm-3 mt-auto">
                  <h4 class="text-white font-weight-bolder no_toc">Award Anshuman</h4>
                  <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">CTO</p>
                  <h5 class="text-white font-weight-bolder no_toc">Ex Google,AWS</h5>
                </div>
                <div class="col-sm-3 ms-auto mt-auto">
                  <p class="text-white opacity-6 text-xs font-weight-bolder mb-0">Fullstack</p>
                  <a href="https://Akshad.digitalsamba.com/demo-room" target="_blank" class="btn btn-primary mt-3">Connect</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
  </div>
<script>

  var swiper = new Swiper(".mySwiper", {
    effect: "cards",
    grabCursor: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
  
  </script>
<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
var strengthsData = {{ strengths_chart_data | safe }};
var improvementsData = {{ improvements_chart_data|safe }};

new Chart(document.getElementById('strengthChart'), {
type: 'doughnut',
data: strengthsData,
options: { responsive: true, maintainAspectRatio: false }
});

new Chart(document.getElementById('improvementChart'), {
type: 'doughnut',
data: improvementsData,
options: { responsive: true, maintainAspectRatio: false }
});
});
</script>
{% endblock %}